#Genomes, place in resources/genomes/
^g	test_genome.fa

#Features to annotate, place in resources/features/
#^f	bed file	n_windows	window_size
^f	g4Discovery.bed	1000	10

#Mean bedgraph window sizes
^a	1000

#Density bedgraph Window size
^w	1000000
^w	10000

#Significance threshold level, 0 is all data (no threshold),  1 is p <= 0.05,  2 is p <= 0.01,  3 is p <= 0.001,  4 is p <= 0.0001.
#Multiple levels can be specified (one per line). Density files are not produced for level 0.
^s	2

#Relationships between files
#^    Sample          Treatment                 Control
^r	Hsap_HG002_LCL	Hsap_HG002_LCL_Mn04.bam	Hsap_HG002_LCL_CTRL.bam

# Temporary intermediate files (deleted after downstream rules complete)
# Remove these lines to keep all intermediate files
^t	data/aligned_reads
^t	data/bg
^t	data/bw
^t	data/windows
^t	data/annotations
^t	data/annotations_merged

#Other settings
^igv-bam
^igv-bigwig
